.a{display:-webkit-box;width:900px;height:300px;background-color: green;}
/*.a div{-webkit-box-flex:1;height:100px}*/
.a-1{background:red;width:200px}
.a-2{background:yellow}
.a-3{background:blue}
.a-4{background:green}
